{erl_opts, [no_debug_info]}.
{deps, [{idna, "6.1.1"}]}.

{escript_incl_apps, [certinfo]}.
{escript_main_app, certinfo}.
{escript_name, certinfo}.
{escript_emu_args, "%%! +sbtu +A1\n"}.

%% Profiles
{profiles, [{test, [{erl_opts, [debug_info]}]}]}.

{project_plugins, [erlfmt]}.
{erlfmt, [
    write,
    {files, ["{src,include,test}/**/*.{hrl,erl,app.src}", "rebar.config"]}
]}.
